		<% layout('layout') %>
    	<p>Merci de vous connecter</p>
		<% if (error) { %><p>Erreur: <%= error %></p><% } %>
		<form method="post">
		  <input type="text" name="username" placeholder="Type your login" autofocus required<% if (username) { %> value="<%= username %>"<% } %>>
		  <input type="password" name="pass" placeholder="Type your password" autofocus required<% if (pass) { %> value="<%= pass %>"<% } %>>
		  <input type="submit">
		</form>

