	<a ui-sref=".rdc" class="btn btn-default" ng-class="{'btn-primary':isActiveNdcRdc, 'btn-default':!isActiveNdcRdc}" ng-click="isActiveNdcRdc = !isActiveNdcRdc; secondSelection()">Rez-de-Chaussee</a>

	<a ui-sref=".first" class="btn btn-default" ng-class="{'btn-primary':isActiveNdc1, 'btn-default':!isActiveNdc1}" ng-click="isActiveNdc1 = !isActiveNdc1">1er etage</a>

	<a ui-sref=".second" class="btn btn-default" ng-class="{'btn-primary':isActiveNdc2, 'btn-default':!isActiveNdc2}" ng-click="isActiveNdc2 = !isActiveNdc2">2eme etage</a>

	<a ui-sref=".third" class="btn btn-default" ng-class="{'btn-primary':isActiveNdc3, 'btn-default':!isActiveNdc3}" ng-click="isActiveNdc3 = !isActiveNdc3">3eme etage</a>

	<a ui-sref=".fourth" class="btn btn-default" ng-class="{'btn-primary':isActiveNdc4, 'btn-default':!isActiveNdc4}" ng-click="isActiveNdc4 = !isActiveNdc4">4eme etage</a>

	<a ui-sref=".fifth" class="btn btn-default" ng-class="{'btn-primary':isActiveNdc5, 'btn-default':!isActiveNdc5}" ng-click="isActiveNdc5 = !isActiveNdc5">5eme etage</a>

	<a ui-sref=".sixth" class="btn btn-default" ng-class="{'btn-primary':isActiveNdc6, 'btn-default':!isActiveNdc6}" ng-click="isActiveNdc6 = !isActiveNdc6">6eme etage</a>

