	<a ui-sref=".branly.rdc" class="btn btn-default" ng-class="{'btn-primary':isActiveBranlyRdc, 'btn-default':!isActiveBranlyRdc}" ng-click="isActiveBranlyRdc = !isActiveBranlyRdc; secondSelection()">Rez-de-Chaussee</a>

	<a ui-sref=".branly.first" class="btn btn-default" ng-class="{'btn-primary':isActiveBranly1, 'btn-default':!isActiveBranly1}" ng-click="isActiveBranly1 = !isActiveBranly1">1er etage</a>

	<a ui-sref=".branly.second" class="btn btn-default" ng-class="{'btn-primary':isActiveBranly2, 'btn-default':!isActiveBranly2}" ng-click="isActiveBranly2 = !isActiveBranly2">2eme etage</a>

	<a ui-sref=".branly.third" class="btn btn-default" ng-class="{'btn-primary':isActiveBranly3, 'btn-default':!isActiveBranly3}" ng-click="isActiveBranly3 = !isActiveBranly3">3eme etage</a>

	<a ui-sref=".branly.fourth" class="btn btn-default" ng-class="{'btn-primary':isActiveBranly4, 'btn-default':!isActiveBranly4}" ng-click="isActiveBranly4 = !isActiveBranly4">4eme etage</a>

	<a ui-sref=".branly.fifth" class="btn btn-default" ng-class="{'btn-primary':isActiveBranly5, 'btn-default':!isActiveBranly5}" ng-click="isActiveBranly5 = !isActiveBranly5">5eme etage</a>

